<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="images/logo_tab.png" type="image/icon type" />
        <title>Orders | Cakes & Bakes</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/orders.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <div class="container-fluid pt-0">
            <%- include('./partials/header', { req: req }) %>
            <div class="row justify-content-center align-content-center">
                <div class="col-lg-12 m-2 p-3 pt-0">
                    <div class="top-title"><h4>Orders</h4></div>
                    <div class="order-container">
                        <div class="ord-header">
                            <div class="invoice-number">
                                <p>INVOICE #</p>
                            </div>
                            <div class="date">
                                <p>DATE</p>
                            </div>
                            <div class="amount">
                                <p>AMOUNT</p>
                            </div>
                            <div class="discount">
                                <p>DISCOUNT</p>
                            </div>
                            <div class="total-gst">
                                <p>TOTAL GST</p>
                            </div>
                            <div class="received">
                                <p>RECEIVED</p>
                            </div>
                            <div class="balance">
                                <p>BALANCE</p>
                            </div>
                            <div class="total-amount">
                                <p>TOTAL AMOUNT</p>
                            </div>
                            <div class="processed-by">
                                <p>PROCESSED BY</p>
                            </div>
                            <div class="processed-by">
                                <p>DETAILS</p>
                            </div>
                        </div>
                        <div class="ord-box">
                            <% orders.forEach((order, index) => { %>
                            <div class="ord">
                                <div class="invoice-number">
                                    <p><%= order.invoice.invoiceNumber %></p>
                                </div>
                                <div class="date">
                                    <p><%= order.invoice.date %></p>
                                </div>
                                <div class="amount">
                                    <p><%= order.invoice.amount %></p>
                                </div>
                                <div class="discount">
                                    <p><%= order.invoice.discount %></p>
                                </div>
                                <div class="total-gst">
                                    <p><%= order.invoice.totalGst %></p>
                                </div>
                                <div class="received">
                                    <p><%= order.invoice.received %></p>
                                </div>
                                <div class="balance">
                                    <p><%= order.invoice.balance %></p>
                                </div>
                                <div class="total-amount">
                                    <p><%= order.invoice.totalAmount %></p>
                                </div>
                                <div class="processed-by">
                                    <p><%= order.user.name %></p>
                                </div>
                                <div class="ord-detail">
                                    <img
                                        id="<%= order.invoice.invoiceNumber %>"
                                        src="images/icons8_info_208px.png"
                                        alt="BUY"
                                        onclick="showDetails('<%= order._id %>')" />
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js/orders.js"></script>
    </body>
</html>
