<header class="px-5">
    <a href="/home">
        <img id="logo" src="images/logoX.png" alt="Logo" />
    </a>
    <nav>
        <% if (req.session.user) { %> 
            <% if (req.session.user.role === 'Cashier') { %>
                <!-- Display links for cashier -->
                <a href="/home" class="<%= req.url === '/home' ? 'active' : '' %>">Home</a>
                <a href="/orders" class="<%= req.url === '/orders' ? 'active' : '' %>">Orders</a>
            <% } else if (req.session.user.role === 'Manager') { %>
                <!-- Display links for manager -->
                <a href="/home" class="<%= req.url === '/home' ? 'active' : '' %>">Home</a>
                <a href="/orders" class="<%= req.url === '/orders' ? 'active' : '' %>">Orders</a>
                <a href="/products" class="<%= req.url === '/products' ? 'active' : '' %>">Products</a>
                <a href="/dashboard" class="<%= req.url === '/dashboard' ? 'active' : '' %>">Dashboard</a>
                <a href="/register" class="<%= req.url === '/register' ? 'active' : '' %>">Register</a>
                <!-- Add more links for manager as needed -->
            <% } %>

            <!-- Common links for all logged-in users -->
            <a href="#" onclick="logout()">Logout</a>
        <% } else { %>
            <!-- If user is not logged in, show only login link -->
            <a href="/login" class="<%= req.url === '/login' ? 'active' : '' %>">Login</a>
        <% } %>
    </nav>
</header>

<script>
    function logout() {
    $.ajax({
        url: '/logout',
        method: 'POST',
        success: function() {
            window.location.href = '/login';
        }
    });
    }
</script>